.radio-toolbar input[type="radio"] {
    display: none;
  }
  .radio-toolbar label {
      display: inline-block;
      border: 1px solid #061e37;
      padding: 3px 15px;
      cursor: pointer;
      white-space: pre;
      color: #061e37;
      border-radius: 5px;
      font-size: 14px;
  }
  .radio-toolbar input[type="radio"]:checked+label {
    background-color: #333;
    color:#fff
  }
  
  .radio-toolbar {
      display: flex
  ;
      align-items: center;
      gap: 15px;
  }